.footer-container{
    background-color: black;
}

.footer-links{
    display: flex;
    align-items: space-between;
    padding-top: 2rem;
    padding-left: 2rem;
}

.footer-links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 3rem;
    align-items: space-between;
}
.footer-links a:hover{
    color:#ec0909;
}

.unaffiliation-container{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: .75rem
}

.unaffiliation-text{
    color: white;
    font-size: .5rem;
    text-align: center;
}