.hero {
  position: relative;
  height: 60vh;
  width: 100%; /* Explicitly set width to 100% */
  background-color: #333; /* A fallback color if the image fails */
  background-image: url('../assets/madisonWI.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-size: clamp(3rem, 10vw, 6rem); /* Responsive font size */
  margin: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.search-bar-container {
  width: 80%;
  max-width: 600px;
  margin-top: 2rem;
}

.search-bar {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 1.5vh 2vw; 
  box-sizing: border-box; /* Ensures padding doesn't affect final width */
}

.search-bar::placeholder{
  font-size: 100%;
}
